.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  .formContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
  }
}
