.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .filterBar {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
  }
  .listWrapper {
    display: flex;
    width: 80%;
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .info {
        display: flex;
      }
      .actions {
        display: flex;
      }
    }
  }
}
